#title{
	font-family: 'Times New Roman', Times, serif;
	
	color: #273746;
	font-size: 20px;
}

.display{
	width: 300px;
	height: 430px;
}

.display p strong i a{
	color: #7f8c8d;

}
.box{
  width: 230px;
  height: 150px;

}

.display p strong{
	color: #2e405e;
}

/*search engine*/
.navbar-form .input-group > .form-control {
    width: 500px;
}

/*sidebar*/
.cats {
  list-style: none;
  padding: 0;
}

.cats li b a {
  display: block;
  font-size: 15px;
  padding: 8px 15px;
  color: black;
  
}

.cats li a {
  display: block;
  font-size: 15px;
  padding: 8px 15px;
  color: grey;
}

.cats li a:hover {
  
  color: white;

}

  